{% extends "tour/main.html" %}
{% block title %}Add New Place{% endblock %}
{% block content %}
<h1 style="text-align: center">
{% if object %}
Edit Place "{{ object.name }}"
{% else %}
Add New Place
{% endif %}
</h1>
<div class="module">

<form action="." method="post" id="" data-models-url="#" novalidate enctype="multipart/form-data">
    <div class="grid-container">
        <h2>Place info</h2>
      <table style="background-color: grey">
          {{ form.media }}
          {{ form.media.js }}
{{ form.as_table }}
      </table>
        <h5>Add Photos(At Least 6)</h5>


    <table>
{{ placeimages_formset }}
{{ placeimages_formset.management_form }}
    </table>
          <h5>Add Facilities</h5>


    <table>
{{ placefacilities_formset }}
{{ placefacilities_formset.management_form }}
    </table>
            <h2>{{ place.name }} Activities</h2>


    <table>
{{ placeactivities_formset }}
{{ placeactivities_formset.management_form }}
    </table>
            <h5>Interesting Places Around {{ place.name }}</h5>


    <table>
{{ placeinterests_formset }}
{{ placeinterests_formset.management_form }}
    </table>
          <button type="submit" class="primary button expanded search-button">
      Save Place
    </button>


    </div>
{% csrf_token %}

</form>

</div>


{% endblock %}