{% extends "tour/main.html" %}
{% block title %}
{% if object %}
Edit  "{{ object.title|capfirst }}"
{% else %}
Add New Event
{% endif %}
{% endblock %}
{% block content %}
<h1 style="text-align: center">
{% if object %}
Edit  "{{ object.title|capfirst }}"
{% else %}
Add New Event
{% endif %}
</h1>
<div class="module">

<form action="." method="post" id="" data-models-url="#" novalidate enctype="multipart/form-data">
    <div class="grid-container">
        <h2>Event info</h2>
      <table style="background-color: grey">
          {{ form.media }}
          {{ form.media.js }}
{{ form.as_table }}
      </table>
          <button type="submit" class="primary button expanded search-button">
      Save Event
    </button>


    </div>
{% csrf_token %}

</form>

</div>


{% endblock %}